<% content_for :title do %>Patch Server <%= server.to_s %><% end %>

<% content_for :header do %>Patch Server<% end %>

<% content_for :breadcrumbs do %>
    <li><%= link_to 'Servers', [:admin, @account, :solus, :servers] %></li>
    <li><%= link_to server.to_s, [:admin, @account, :solus, @server] %></li>
    <li><%= link_to 'Patch', [:new, :admin, @account, :solus, @server, :patches] %></li>
<% end %>

<%= simple_form_for @server, url: [:admin, @account, :solus, @server, :patches], method: :post, html: { class: 'form-horizontal block' } do |f| %>
    <p>Are you sure you've completed patching work on this server? Marking this server as patched will remove it from the queue until patches are next due.</p>
    <div class="form-group">
        <div class="col-md-5 col-md-offset-2">
            <%= link_to "Cancel", [:admin, @account, :solus, @server], class: 'btn btn-default', id: 'server_cancel' %>
            <%= f.button :submit, "Complete", method: :post, class: 'btn btn-primary', id: 'server_suspend' %>
        </div>
    </div>
<% end %>

<div class="row gutter30">
    <div class="col-md-8">
        <div class="block">
            <div class="block-title"><h2>System Info</h2></div>

            <%= display_for server do |d| %>
                <%= d.display :plan_name %>
                <%= d.display :render_amount %>

                <% if server.active? %>
                    <%= d.display :next_due %>
                <% end %>

                <%= d.display :cluster_name %>
                <%= d.display :render_node_name %>
                <%= d.display :template_name %>

                <% if server.active? %>
                    <%= d.display :render_root_username %>
                    <%= d.display :root_password do %>
                        <span id="root_password"><%= link_to "Show Password", [:admin, @account, :solus, @server, :root_passwords], id: 'show_password', remote: true %></span>
                    <% end %>
                <% end %>
            <% end %>
        </div>

        <div class="block full">
            <div class="block-title"><h2>Transfer</h2></div>

            <div class="text-center transfer-graph">
                <%= image_tag url_for([:admin, @account, :solus, server, :transfer_graphs]), onerror: 'this.style.display = "none"' %>
            </div>

            <div class="progress progress-striped">
                <div class="progress-bar <%= server.transfer_class %>" style="width: <%= server.used_transfer_percentage %>%"></div>
            </div>
            <div class="text-center">
                <%= server.render_used_transfer %> / <%= server.render_transfer %>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="block full">
            <div class="block-title"><h2>IP Addresses</h2></div>
            <div id="ip_addresses">
                <div class="text-center"><i class="fa fa-gear fa-spin fa-4x"></i></div>
            </div>
        </div>
    </div>
</div>

<% content_for :javascript do %>
    <% if server.active? %>
        <script type="text/javascript">
            $(function() {
                $.ajax({
                    type: "GET",
                    url: "<%= url_for [:admin, @account, :solus, @server, :statuses] %>"
                });
            });
        </script>
    <% end %>
<% end %>