<% content_for :title do %>New Ticket<% end %>

<% content_for :header do %>
    New Ticket
<% end %>

<% content_for :breadcrumbs do %>
    <li><%= link_to 'Support Tickets', [:users, account, :tickets] %></li>
    <li><%= link_to 'New', [:new, :users, account, :ticket] %></li>
<% end %>

<%= simple_form_for @ticket_form, url: [:users, @account, :tickets], html: { class: 'form-horizontal' } do |f| %>

    <%= f.input :subject, wrapper: :medium_input %>
    <%= f.input :body, as: :text, input_html: { rows: 10 } %>
    <%= f.input :secure_body, as: :text, hint: 'will not be sent via email, please use for passwords and other sensitive data', input_html: { rows: 2 } %>
    <%= f.input :priority, wrapper: :small_input do %>
        <%= f.input_field :priority, include_blank: false, class: 'form-control select-chosen' %>
        <%= content_tag :span, class: 'input-group-addon' do %>
            <a class="cursor-pointer" data-toggle="popover" data-placement="right" data-html="true" data-content="<%= t('ticket.priority_text') %>">
                <i class="fa fa-question-circle"></i>
            </a>
        <% end %>
    <% end %>

    <div class="form-group">
        <div class="col-md-5 col-md-offset-2">
            <%= f.button :submit, "Create Ticket", id: 'ticket_form_submit', data: { disable_with: 'Opening...' }, class: 'btn btn-primary' %>
        </div>
    </div>
<% end %>

<% content_for :javascript do %>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#new_ticket_form').validate({
                errorClass: 'help-block', // You can add help-inline instead of help-block if you like validation messages to the right of the inputs
                errorElement: 'div',
                errorPlacement: function(error, e) {
                    e.parents('.form-group > div').append(error);
                },
                submitHandler: function(form) {
                    $('#ticket_submit').attr('disable','disable');
                    $('#ticket_submit').val("Saving...");

                    var subject = $('#ticket_form_subject').val().toLowerCase();
                    var body = $('#ticket_form_body').val().toLowerCase();
                    var priority = $('#ticket_form_priority').val();

                    if(priority != 'critical')
                    {
                        var match = 0;

                        var keywords = ['down', 'urgent', 'critical', 'offline', 'outage', 'emergency', 'dead', 'broken'];

                        $.each(keywords, function(index, value) {
                            if(subject.indexOf(value) >= 0) {
                                match++;
                            }
                            if(body.indexOf(value) >= 0) {
                                match++;
                            }
                        });

                        if(match > 0) {
                            bootbox.dialog({
                                message: "Your ticket sounds like it might be a critical priority ticket, however your ticket was marked " + priority + ". Do you want to mark your ticket critical?",
                                title: "Is this a critical issue?",
                                buttons: {
                                    cancel: {
                                        label: "Cancel"
                                    },
                                    critical: {
                                        label: "Change to Critical",
                                        className: "btn-danger",
                                        callback: function() {
                                            bootbox.dialog({
                                                message: "<%= escape_javascript(t('ticket.critical_warning').html_safe) %>",
                                                title: "Critical Ticket Warning",
                                                buttons: {
                                                    cancel: {
                                                        label: "Cancel"
                                                    },
                                                    critical: {
                                                        label: "Submit As Critical",
                                                        className: "btn-danger",
                                                        callback: function() {
                                                            $('#ticket_form_priority').val('critical');
                                                            $('#new_ticket_form').get(0).submit();
                                                        }
                                                    }
                                                }
                                            });
                                        }
                                    },
                                    normal: {
                                        label: "Leave As Is",
                                        className: "btn-primary",
                                        callback: function() {
                                            $('#new_ticket_form').get(0).submit();
                                        }
                                    }
                                }
                            });

                            return false;
                        }
                    }
                    else
                    {
                        bootbox.dialog({
                            message: "<%= escape_javascript(t('ticket.critical_warning').html_safe) %>",
                            title: "Critical Ticket Warning",
                            buttons: {
                                cancel: {
                                    label: "Cancel"
                                },
                                critical: {
                                    label: "Submit As Critical",
                                    className: "btn-danger",
                                    callback: function() {
                                        $('#new_ticket_form').get(0).submit();
                                    }
                                }
                            }
                        });

                        return false;
                    }

                    $('#new_ticket_form').get(0).submit();
                },
                highlight: function(e) {
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function(e) {
                    // You can remove the .addClass('has-success') part if you don't want the inputs to get green after success!
                    e.closest('.form-group').removeClass('has-success has-error').addClass('has-success');
                    e.closest('.help-block').remove();
                },
                rules: {
                    "ticket[subject]": {
                        required: true
                    },
                    "ticket[body]": {
                        required: true
                    },
                }
            });
        });
    </script>
<% end %>