<% content_for :title do %>Premium Managed VPS Hosting<% end %>
<% content_for :social_title do %>Serious Managed Hosting<% end %>
<% content_for :social_description do %>Ready for better web hosting? Check out our premium managed service. Whether it's PHP, Python, Ruby, ASP.NET, or something else entirely, we want to be your technological partner. Come see what vNucleus is all about.<% end %>

<div class="landing-intro">
    <div class="container">
        <div class="jumbotron">
            <h1 class="animation-pullDown"><strong>Serious</strong> Managed Hosting</h1>
            <p class="animation-fadeIn"><span class="jumbotron-background">Personalized service from a group of professionals who want to help you succeed</span></p>
        </div>
    </div>
</div>

<div class="landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="page-header"><strong>Serious</strong> Managed Support</h3>

                <p>We've got years of in-house experience with your favorite stacks. Let our experts help you get your managed VPS up and running smoothly, and make sure it stays that way.</p>

                <div class="text-center os-icons">
                    <%= image_tag 'stacks/ruby.png', data: { toggle: 'tooltip' }, title: 'Ruby' %>
                    <%= image_tag 'stacks/rails.png', data: { toggle: 'tooltip' }, title: 'Ruby on Rails' %>
                    <%= image_tag 'stacks/python.png', data: { toggle: 'tooltip' }, title: 'Python' %>
                    <%= image_tag 'stacks/django.png', data: { toggle: 'tooltip' }, title: 'Django' %>
                    <%= image_tag 'stacks/php.png', data: { toggle: 'tooltip' }, title: 'PHP' %>
                    <%= image_tag 'stacks/wordpress.png', data: { toggle: 'tooltip' }, title: 'Wordpress' %>
                    <%= image_tag 'os/ubuntu.png', data: { toggle: 'tooltip' }, title: 'Ubuntu Server' %>
                    <%= image_tag 'os/debian.png', data: { toggle: 'tooltip' }, title: 'Debian' %>
                    <%= image_tag 'os/centos.png', data: { toggle: 'tooltip' }, title: 'CentOS' %>
                    <%= image_tag 'os/windows.png', data: { toggle: 'tooltip' }, title: 'Windows Server' %>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="page-header">Managed Plans Include:</h3>
                <ul class="fa-ul">
                    <li><i class="fa fa-check text-success"></i> 24/7 Phone and Ticket Support</li>
                    <li><i class="fa fa-check text-success"></i> 24/7 Service Monitoring and Restoration</li>
                    <li><i class="fa fa-check text-success"></i> 99.99% Uptime SLA: 1 Day Free per 5 Minutes Down</li>
                    <li><i class="fa fa-check text-success"></i> Professional and Personalized Customer Support</li>
                    <li><i class="fa fa-check text-success"></i> Initial and Ongoing Security Hardening</li>
                    <li><i class="fa fa-check text-success"></i> Managed Offsite Backups</li>
                    <li><i class="fa fa-check text-success"></i> Proactive Patch Management</li>
                    <li><i class="fa fa-check text-success"></i> 15-Day Money-Back Guarantee</li>
                </ul>

                <div class="text-center">
                    <%= link_to 'Support Coverage', [:managed_support_coverage] %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well landing-header-well">
                    <% if current_user.present? %>
                        <h3 class="page-header remove-top-margin">
                            Welcome Back, <%= current_user.first_name %>!
                        </h3>
                        <p>Here are some quick links to your accounts.</p>
                        <ul>
                            <% unless current_user.accounts.find_current.each do |account| %>
                                <li><%= link_to account.to_s, [:users, account] %></li>
                            <% end.present? %>
                                <li><%= link_to 'Create Account', [:new, :users, :account]  %></li>
                            <% end %>
                        </ul>
                    <% else %>
                        <h3 class="page-header remove-top-margin">
                            <span class="col-md-offset-4">Try Us Risk-Free</span>
                        </h3>
                        <%= simple_form_for @sign_up_form, url: [:users, :sign_ups], html: { id: 'new_user', class: 'form-horizontal' } do |f| %>
                            <%= f.input :email, wrapper: :label_4 %>
                            <%= f.input :password, wrapper: :label_4 %>
                            <%= f.input :affiliate_id, as: :hidden %>

                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-4">
                                    <%= f.button :submit, "Get Started", id: 'order_form_submit', data: { disable_with: 'Saving...' }, class: 'btn btn-primary' %>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="landing-section landing-section-dark">
    <div class="container">
        <h3 class="text-center remove-margin">Have questions? We're here 24/7 to help out.</h3>
    </div>
</div>

<div class="landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="page-header">Blazing Fast SSDs</h3>
                <p>Here at vNucleus, we use only enterprise hardware from Dell. All VPSes are provisioned on dual socket machines with plenty of RAM and super-fast Intel SSDs for the performance you crave.</p>
                <p>Our virtualization is powered by KVM, one of the leading hypervisors on the market. We trust our hosting platform's performance and uptime so strongly that we run our entire operation on the same nodes as our VPS clients.</p>
            </div>
            <div class="col-md-4">
                <h3 class="page-header">Premium Service</h3>
                <p>Our fully-managed service includes setup assistance, monitoring and response, off-site backups, and proactive patch management. We'll help you set up your app stack, take it live, and maintain your operating system for you.</p>
                <p>Our premium self-managed service includes some of the elements of our fully-managed service, but at a discounted price. You can combine fully-managed and self-managed servers however you like.</p>
                <p>For more information, see our <%= link_to 'managed support coverage', [:managed_support_coverage] %> and <%= link_to 'self-managed support coverage', [:self_managed_support_coverage] %>.</p>
            </div>
            <div class="col-md-4">
                <h3 class="page-header">Guaranteed Uptime</h3>
                <p>Our uptime guarantee is backed by our simple 99.99% uptime SLA: if there's an outage, you get 1 day of credit for every 5 minutes of downtime - up to a month free.</p>
                <p>Don't just take our word about our uptime &mdash; check out our <%= link_to 'Pingdom status page', 'http://status.vnucleus.com' %>.</p>
            </div>
        </div>
        <div class="row landing-features">
            <div class="col-md-4">
                <h3 class="page-header">Our Facility</h3>
                <p>Our VPS nodes are located at SunGard Availability Services' world-class eastern US datacenter at 401 North Broad Street, Philadelphia, Pennsylvania.</p>
                <p>We have fully redundant network connectivity, power, and facilities to ensure high-quality hosting for all of our clients.</p>
            </div>
            <div class="col-md-4">
                <h3 class="page-header">App Support</h3>
                <p>We have professional operations engineers and developers in-house to help you get your app set up properly and securely on your managed VPS. Why bother fighting with config files when we can do it for you?</p>
                <p>Whether you want hosting for Ruby on Rails, Django, PHP, Java, or something else entirely, we've got you covered.</p>
            </div>
            <div class="col-md-4">
                <h3 class="page-header">Satisfaction Guaranteed</h3>
                <p>If you're not happy with us, then let us know within the first 15 days, and we'll refund you.</p>
                <p>We're here to make you happy.</p>
            </div>
        </div>

        <div class="text-center">
            <%= link_to 'Get Started', [:new, :users, :sign_up], class: 'btn btn-primary btn-lg' %>
        </div>
    </div>
</div>

<div class="landing-section landing-section-dark">
    <div class="container">
        <h3 class="text-center remove-margin">Our happy clients say it best.</h3>
    </div>
</div>

<div class="landing-section">
    <div class="container">
        <blockquote>
            <p>At the moment I am running two of the VPS 400 packages and I could not be more satisfied. I'm a developer but servers and hardware aren't my strong suit. I have come to rely on the vNucleus team to save me from myself and prevent me from making poor decisions. They have been with me every step of the way to get the servers set up the way that I need (even after I changed my mind a few times and needed their help time after time after time after time after time).</p>
            <p>With my business close to launch, everything is set up and running perfectly. All the stress tests have gone on without a single issue and I am completely confident I can launch knowing that this part of the set up is rock solid, and if something goes wrong, there's a rock solid staff behind it.</p>
            <p>Every interaction with every member of the team has been informational, extremely pleasant and professional. I've never felt intimidated even though I've had to contact support several times for help (above and beyond what they should be expected to do) and the response has always been more than I expected.</p>
            <small>Dan J, client since 2013</small>
        </blockquote>

        <div class="row">
            <div class="col-md-4">
                <blockquote>
                    <p>James has been helping me for the past few hours with just about anything I've asked him, and not only has stuff gotten done, but I've learned quite a bit along the way.</p>
                    <small>Brian C, client since 2012</small>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote>
                    <p>Had a few things set up through the ticket system (web server, mumble, minecraft) and the response was quick and super helpful. You guys are really fast.</p>
                    <small>Matthew S, client since 2012</small>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote>
                    <p>I went from shared hosting from someone else to a vNucleus instance, and that extra $ is worth it. Instead of a hobbled shell, I get full root access and lightning-fast support.</p>
                    <small>Justin C, client since 2012</small>
                </blockquote>
            </div>
        </div>

        <div class="text-center">
            <%= link_to 'Read More', [:testimonials], class: 'btn btn-primary' %>
        </div>
    </div>
</div>

<%= render partial: 'footer_call' %>

<% content_for :javascript do %>
    <script type="text/javascript">
        $(function() {
            $('#new_user').validate({
                errorClass: 'help-block',
                errorElement: 'span',
                errorPlacement: function(error, e) {
                    e.parents('.form-group > div').append(error);
                },
                highlight: function(e) {
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function(e) {
                    // You can remove the .addClass('has-success') part if you don't want the inputs to get green after success!
                    e.closest('.form-group').removeClass('has-success has-error').addClass('has-success');
                    e.closest('.help-block').remove();
                },
                rules: {
                    "sign_up_form[email]": {
                        required: true,
                    },
                    "sign_up_form[password]": {
                        required: true,
                        minlength: 8,
                    }
                },
                messages: {
                    "sign_up_form[email]": {
                        remote: 'This email address is already in use'
                    },
                    "sign_up_form[password]": {
                        required: 'Please provide a password',
                        minlength: 'Your password is too short'
                    }
                }

            });
        });
    </script>
<% end %>
