<% content_for :title do %>My Accounts<% end %>

<% content_for :header do %><h1>My Accounts</h1><% end %>

<% content_for :breadcrumbs do %>
    <li><%= link_to 'My Accounts', [:users, :accounts] %></li>
<% end %>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <%= link_to [:new, :users, :account] do %>
                    <i class="fa fa-plus-circle"></i> New Account
                <% end %>
            </li>
            <li>
                <% if params[:show_all].present? %>
                    <%= link_to [:users, :accounts] do %>
                        <i class="fa fa-eye-slash"></i> Hide Closed Accounts
                    <% end %>
                <% else %>
                    <%= link_to [:users, :accounts, show_all: true] do %>
                        <i class="fa fa-eye"></i> Show Closed Accounts
                    <% end %>
                <% end %>
            </li>
        </ul>
    </div>
</nav>

<table id="accounts" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <% accounts.each do |account| %>
        <tr>
            <td><%= account.link_long_id :users %></td>
            <td><%= account.link_name :users %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<% content_for :javascript do %>
    <script type="text/javascript">
        $(function() {
            webApp.datatables();

            $('#accounts').dataTable({
                "bDestroy": true,
                "aaSorting": [[1, "asc"]],
                "aoColumns": [
                    {"sType": "raw-string"},
                    {"sType": "raw-anti-the"},
                ]
            });

            $('.dataTables_filter input').addClass('form-control').attr('placeholder', 'Search');
            $('.dataTables_length select').addClass('form-control');
        });
    </script>
<% end %>